<!DOCTYPE html>
<html ng-app="wandStore">
  <head>
  	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
   <div class=" main container" ng-controller="StoreController as store">
  	<div class="page-header">
  		<img class="logo"src="ollivanders_1.jpg"/>
	  	<h1>Ollivander's</h1>
	  	<h2><em>~ Makers of Fine Wands since 382 B.C. ~</em></h2>
    </div>
    <div style="border-bottom: 1px solid #eee; margin-bottom: 15px;"ng-repeat="product in store.products | orderBy: 'price'" class="product row">
      <img class="image img-thumbnail" ng-src="{{product.images[0].thumb}}"/>
      <h3>
      	{{product.wood}} Wand | {{product.core}}
      </h3>
      <div class="price-container">
      	<p class="price">{{product.price | currency}}</p>
      	<button>Add to Cart</button>
      </div>
      <div class="clear-fix"></div>
      <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{ active: tab.isSet(1)}">
            <a ng-click="tab.setTab(1)" href>Wand Wood</a>
          </li>
          <li ng-class="{ active: tab.isSet(2)}">
            <a ng-click="tab.setTab(2)" href>Core</a>
          </li>
          <li ng-class="{ active: tab.isSet(3)}">
            <a ng-click="tab.setTab(3)" href>Length &amp; Flexability</a>
          </li>
          <li ng-class="{ active: tab.isSet(4)}">
            <a ng-click="tab.setTab(4)" href>Reviews</a>
          </li>
        </ul>
        <div ng-show="tab.isSet(1)" ng-include="'wood-description.html'">
        </div>
        <div ng-show="tab.isSet(2)" ng-include="'core-description.html'">
        </div>
        <div product-specs ng-show="tab.isSet(3)">
        </div>
        <div ng-show="tab.isSet(4)">
            <!--  Product Reviews List -->
            <ul class="reviews">
              <h4>Reviews</h4>
              <li ng-repeat="review in product.reviews">
                <blockquote>
                  <strong>{{review.stars}} Stars</strong>
                  {{review.body}}
                  <cite class="clearfix">- {{review.author}} on {{review.createdOn | date}}</cite>
                </blockquote>
              </li>
            </ul>
            <!--  Review Form -->
            <form name="reviewForm" ng-submit="reviewCtrl.addReview(product)" ng-controller="ReviewController as reviewCtrl">
              <!--  Live Preview -->
              <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">- {{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
          </div>
      </section>
    </div>
	</div>
  </body>
</html>
